html {
	width: 100%;
}

body {
	background-color: rgb(200, 200, 200);
	width: 80%;
	margin: auto;
}

div.blog_post {
	border: 1px dashed black;
	margin: 1em;
	padding: 0.5em;
}

div.blog_post h3 {
	padding: 0;
	margin: 0.5em;
}

div.blog_post p {
	padding: 0;
	margin: 0.5em;
}

div.headerbar {
	background-color: rgba(0, 0, 0, 0.15);
	height: 2em;
	top: 0;
	left: 0;
	right: 0;
}

ul.tabs {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
}

ul.tabs li {
	float: left;
	height: 100%;
}

ul.tabs li a {
	display: inline-block;
	color: white;
	text-align: center;
	height: 100%;
	padding: 0.35em 0.5em;
	text-decoration: none;
}

ul.tabs li a:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

.dark15 {
	background-color: rgba(0, 0, 0, 0.15);
	height: 2em;
}

.space{
	padding:0 0 0 0%;
}

.product_thumbnail {
	position: relative;
	display: inline-block;
	float: left;
	width: 6em;
	height: 8.5em;
	border: 1px solid black;
	margin: 0.5em;
	background-color: rgba(255, 255, 255, 0.4);
}

.product_thumbnail h6.pprice {
	font-size: 0.9em;
	margin: 0.25em;
	color: red;
	position: absolute;
	top: 6.25em;
	left: 0;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.product_thumbnail h6.pname {
	font-size: 0.8em;
	margin: 0.25em;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.product_thumbnail img.ppic {
	width: 5.7em;
	max-height: 4.275em;
	position: absolute;
	top: 1.5em;
	left: 0.15em;
}

.product_thumbnail h6.INFO_LINK {
	font-size: 0.6em;
	margin: 0.25em;
	position: absolute;
	top: 12.5em;
	right: 0;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: right;
}

div#ProductInfo img {
	display: block;
	width: 80%;
	max-width: 800px;
	margin: 1em auto;
}

div#ProductBox {
	
}

table.fulltbl {
	width: 100%;
}

.align_right {
	text-align: right;
}