html {
	width: 100%;
}

body {
	background-color: rgb(200, 200, 200);
	width: 80%;
	margin: auto;
}

div.blog_post {
	border: 1px dashed black;
	margin: 1em;
	padding: 0.5em;
}

div.blog_post h3 {
	padding: 0;
	margin: 0.5em;
}

div.blog_post p {
	padding: 0;
	margin: 0.5em;
}