html {
	width: 100%;
}

body {
	background-color: rgba(0, 0, 0, 0.3);
	width: 80%;
	margin: auto;
}

div.blog_post {
	border: 1px solid black;
	margin: 1em auto;
	padding: 0.5em;
	font-family: sans-serif;
	width: 80%;
	background-color: rgba(255, 255, 255, 0.5);
}

div.blog_post h3 {
	padding: 0;
	margin: 0.5em 0.5em 1em 0.5em;
}

div.blog_post p {
	padding: 0;
	margin: 0.5em;
}

div.headerbar {
	background-color: rgba(0, 0, 0, 0.15);
	height: 4em;
	top: 0;
	left: 0;
	right: 0;
}

div.headerbar ul.tabs li a {
	padding: 1.2em 0.5em;
}

ul.tabs {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
}

ul.tabs li {
	float: left;
	height: 100%;
}

ul.tabs li a {
	display: inline-block;
	color: white;
	text-align: center;
	height: 100%;
	padding: 0.35em 0.5em;
	text-decoration: none;
}

ul.tabs li a:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

.dark15 {
	background-color: rgba(0, 0, 0, 0.15);
	height: 2em;
}
.space{
	padding:0 0 0 0%
}